body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color:black;
  margin: 0;
}

nav a {
  color: black;
  display: inline;
  margin-left: 70px;
}
#links_nav{
    background-color: white;
    padding: 15px;
}
header h1 {
  font-size: 40px;
  margin: 20px;
}

 p {
  display: block;
  font-size: 16px;
  color: black;
  margin: 20px;
}

main {
  position: relative;
  display: block;
  margin: 20px;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background-color: #E5E5E5;
  padding: 20px;
  height: 30%;
}

aside ul li {
  margin-bottom: 20px;
  padding-left: 8px;
  border-left: 3px solid #14213D;
  
}
article {
  position: relative;
  margin-left: 320px;
  background: #fff;
  width: 55%;
}

figure {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

figure img {
  width: 100%;
}

figcaption {
  font-style: italic;
  margin-top: 6px;
  color: #555;
  font-size: 14px;
}

section {
  display: block;

}

section h2 {
  color: black;
  margin-bottom: 10px;
  font-size: 22px;
}


section ol li {
  margin-bottom: 10px;
  padding-left: 8px;

}
footer {
  background-color: #14213D;
  color: #E5E5E5;
  text-align: center;
  padding: 20px;
  display: block;
  margin-top: 40px;
  font-size: 14px;
}
footer p {
color: #E5E5E5;
}


