body {
  font-family: "Merriweather", sans-serif;
  font-weight: 4600;
  background: radial-gradient(
    circle at top left,
    #000f39,
    #4e6de6,
    #6c91f9,
    #4e6de6,
    #d18b77,
    #0038c0
  );
  color: white;
  margin: 0;
  animation: fadeIn 2s ease;
  width: 100%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}
.logo img {
  width: 50px;
  height: 50px
}
.burger-menu {
  display: inline;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav a {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: white;
}

nav a:hover::after {
  animation: underline 0.5s forwards;
}

@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

nav {
  background: radial-gradient(
    circle at top left,
    #000f39,
    #4e6de6,
    #6c91f9,
    #0038c0
  );
  display: none;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: #4e6de6, solid 4px;
  width: 95%;

}
header {
  display: flex;
  flex-direction: column;
  margin:0px;
  padding: 20px;
}
header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
  width: fit-content;
  height: fit-content;
}
header img {
  width: 30px;
  height: 30px;
}
header p {
  font-size: 14px;
  color: #bbb;
}
.author_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:20px;
  gap: 45px;
}
p {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;

  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width:100%;
  padding: 20px;
}

aside {
  width: 80%;
  background-color: #00338061;
  height: 30%;
  border-radius: 10px;
  animation: float 3s ease infinite;
  padding:20px;
  margin-right: 40px;
  margin-bottom: 20px;

}
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

aside ul {
  border-left: 3px solid #d18b77;
  padding-left: 15px;
  margin-left: 13px;
}
aside ul li {
  margin-bottom: 20px;

  color: white;
  list-style: none;
}
article {
  width: 90%;
  background-color: #00338061;
  border-radius: 10px;
}

figure {
  margin: 0px;
}

figure img {
  width: 100%;
  border-radius: 10px;
  margin: 0%;
  min-width: 300px;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 6px;
  color: #bbb;
  font-size: 14px;
}
#info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:0;
}

section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}

section ol li {
  margin-bottom: 10px;
  padding-left: 8px;
}
.benefits {
  width: 100%;
  border:1px solid red;
}
.platforms {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  margin-top: 10px;
  width: 100%;
}

.platforms li {
  padding: 15px;
  margin: 0;
  background-color: #00338061;
  border-radius: 10px;
  border-left: #d18b77 solid 4px;
  transform: rotateX(90deg);
  width: 100%;
}
.platforms li:nth-child(1) {
  animation: dis 10s ease-in-out infinite;
  animation-delay: 0s;
}
.platforms li:nth-child(2) {
  animation: dis 10s ease-in-out infinite;
  animation-delay: 1s;
}
.platforms li:nth-child(3) {
  animation: dis 10s ease-in-out infinite;
  animation-delay: 2s;
}
.platforms li:nth-child(4) {
  animation: dis 10s ease-in-out infinite;
  animation-delay: 3s;
}
.platforms li:nth-child(5) {
  animation: dis 10s ease-in-out infinite;
  animation-delay: 4s;
}
@keyframes dis {
  0%,
  100% {
    transform: rotateX(90deg);
  }
  10%,
  99% {
    transform: rotateX(0deg);
  }
}
footer {
  background: radial-gradient(
    circle at top left,

    #4e6de6,
    #d18b77,
    #0038c0
  );
  color: white;
  text-align: center;
  padding: 20px;
  display: block;
  margin-top: 40px;
  font-size: 10px;
  border-radius: 15px 0px;
}
footer p {
  color: white;
}
#contact {
  background-color: #00338061;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  transition: box-shadow 0.3s;
  width: 90%;
  margin-top: 30px;
}
#contact:hover {
  box-shadow: 0 4px 15px #000f39;
}
#contact h2 {
  text-align: center;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 90%;
  height:40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Merriweather", serif;
  background-color: transparent;
}

input[type="submit"] {
  background-color: #14213d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  transition: background-color 0.2s, transform 0.2s;
}

input[type="submit"]:hover {
  background-color: #0077b6;
  transform: scale(1.03);
}

form > * {
  margin-bottom: 10px;
}

/*Mobile version*/
@media (min-width: 320px) and (max-width: 768px) {
 

}


/*Tablet version*/
@media (min-width: 769px) and (max-width: 1024px) {
  .author_info{
    flex-direction: row;
    justify-content: space-between;
      }

      header h1 {
        font-size: 36px;
      }
      nav {
        display: flex;
      }
      .burger-menu {
        display: none;
      }
      main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      aside {
        width: 20%;
      }
      #info {
       width:75%
      }

}

/*Desktop version*/
@media (min-width: 1025px) {
  
  header {
    padding: 20px 60px;
  }

  header h1 {
    font-size: 40px;
  }
  .author_info{
    flex-direction: row;
    justify-content: space-between;
      }
      .logo img {
        width: 70px;
        height: 70px;
      }
      nav {
        display: flex;
      }
      .burger-menu {
        display: none;
      }
      main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      aside {
        width: 20%;
      }
      #info {
       width:75%
      }

}