body {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  background-color: white;
  color: black;
  margin: 0;
}

nav a {
  color: black;
  display: inline;
}
nav {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: #e5e5e5 solid 4px;
}
header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 6.2%;
  width: fit-content;
  height: fit-content;
}
header img {
  width: 30px;
  height: 30px;
}
header p {
  font-size: 14px;
  color: #555;
}
.author_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 6.2%;
  gap: 55.7%;
  margin-top: 0px;
}
.social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 33px;
  margin-top: 0px;
}
p {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;

  font-size: 16px;
  color: black;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 6.2%;
  margin-top: 2%;
}

aside {
  width: fit-content;
  background-color: #e5e5e5;
  padding: 20px;
  height: 30%;
  border-radius: 10px;
}

aside ul li {
  margin-bottom: 20px;
  padding-left: 8px;
  border-left: 3px solid #14213d;
}
article {
  width: fit-content;
  border-radius: 10px;
}
figure {
  margin: 0px;
}

figure img {
  width: 100%;
  border-radius: 10px;
  margin: 0%;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 6px;
  color: #555;
  font-size: 14px;
}
#info {
  display: flex;
  flex-direction: column;
  margin-left: 3.5%;
  width: 48%;
}

section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  font-size: 22px;
}

section ol li {
  margin-bottom: 10px;
  padding-left: 8px;
}
footer {
  background-color: #14213d;
  color: #e5e5e5;
  text-align: center;
  padding: 20px;
  display: block;
  margin-top: 40px;
  font-size: 10px;
  border-radius: 15px, 0px;
}
footer p {
  color: #e5e5e5;
}
button[type="submit"],
input[type="submit"] {
  background-color: #14213d;
  color: #ffffff;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}
