/* variables*/
:root {
  --firstly: white;
  --secondly: skyblue;
}
/* Reset*/
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* base styles */

#main {
  width: 480px;
}
h1 {
  padding-left: 100px;
  padding-right: 100px;
}
body {
  background-color: var(--firstly);
}
#download {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
}
img {
  border-radius: 10px;
}
.one {
  margin: 100px;
}
#location {
  width: 250px;
  height: 300px;
  margin: 100px;
  border-radius: 10px;
  padding: 20px;
  border: 3px solid whitesmoke;
}
#location p {
  opacity: 50%;
}
br {
  margin-left: 5px;
}
h4 {
  opacity: 50%;
}
#b1 {
  position: absolute;
  bottom: -280px;
  left: 190px;
  height: 30px;
  width: 110px;
  border-radius: 50px;
  background-color: blue;
  color: white;
}
.how {
  margin: 100px;
}

.how p {
  opacity: 50%;
}
.shop {
  /*margin-left: 100px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
#one {
  background-color: whitesmoke;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
/*
}
image .one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  */
#two {
  background-color: whitesmoke;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
#three {
  background-color: whitesmoke;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 20px;
}
.frst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.green {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.black {
  position: relative;
  bottom: 130px;
  left: 50px;
}

#carimages {
  width: 450px;
  height: 300px;
  margin: 20px;
  background-image: url(smart250-homework-car/Oslo-Bus-Station-Norway-Google-Maps.webp);
  overflow: hidden;
  opacity: 70%;
}
/*#carimages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}*/
.car1 {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.car2 {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.car3 {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.car4 {
  display: flex;
  flex-direction: row;
  margin: 50px;
  display: flex;
  flex-direction: row;
}
#caricons {
  background-color: whitesmoke;
}
#choose {
  padding-left: 200px;
  bottom: 50px;
  font-size: x-large;
}
#offer {
  padding-left: 100px;
  font-size: 75%;
}
/*#caricons p {
  opacity: 50%;
}*/
.carrental {
  width: 300px;
  height: 500px;
  margin-left: 150px;
  margin-top: 50px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.carrental img {
  position: relative;
  left: 3px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 10px;
}
#rental p {
  margin-left: 100px;
}
#b2 {
  position: absolute;
  margin: 10px;
  left: 150px;
  height: 45px;
  width: 180px;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#part1 {
  background-color: whitesmoke;
}
#testimonials {
  display: flex;
  flex-direction: row;
  margin: 150px;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 220px;
  height: 300px;
}
#testimonials img {
  border-radius: 50%;
  margin: 65px;
  margin-top: 5px;
  background-color: whitesmoke;
}
#testimonials p {
  position: relative;
  bottom: 50px;
  margin: 5px;
}

#phonecar {
  background-color: #4db6f4;
  width: 100%;
  height: 33%;
}
#phonecar img {
  position: relative;
  left: 100px;
  bottom: 50px;
}
#downloadapp {
  margin: 0;
  background-color: #4db6f4;
  color: black;
  width: 100%;
  height: 33%;
}
#downloadapp img {
  position: relative;
  left: 100px;
}
#downloadapp h4 {
  position: relative;
  left: 100px;
}
.name {
  opacity: 50%;
}
#star {
  display: flex;
  flex-direction: row;
}
#star b {
  position: relative;
  top: 18px;
}

.caracts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#passengers p {
  position: relative;
  left: -60px;
  top: -43px;
}
#manual p {
  position: relative;
  left: -60px;
  top: -43px;
}
#conditioning {
  position: relative;
  left: -60px;
  top: -43px;
}
#manual p {
  position: relative;
  left: -60px;
  top: -43px;
}
.second {
  position: relative;
  left: -330px;
  bottom: -30px;
}
.first {
  position: relative;
  left: -200px;
  bottom: -30px;
}
#first {
  position: relative;
  left: -60px;
  top: -60px;
}
#second {
  position: relative;
  left: -60px;
  top: -65px;
}
#prices {
  position: relative;
  left: 120px;
  top: -65px;
}
#rentnow {
  color: blue;
  font-size: x-large;
}
#t2 {
  position: relative;
  left: 100px;
}
#t1 {
  position: relative;
  left: 155px;
  opacity: 50%;
}
/*Laptop*/
@media (min-width: 1024px) {
  #logo {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
  }
  #logona {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .bigcar {
    position: absolute;
    right: -300px;
    top: -100px;
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
    transform-origin: center;
  }
  #main {
    width: 50%;
    height: 50%;
  }
  #download {
    position: absolute;
    gap: 100px;
    top: px;
  }
  #carimages {
    width: 60%;
    height: 500px;
    margin: 20px;
    background-image: url(smart250-homework-car/Oslo-Bus-Station-Norway-Google-Maps.webp);
    overflow: hidden;
    opacity: 70%;
  }
  .green img {
    width: 300px;
    height: 200px;
  }
  .frst img {
    position: relative;
    top: -100px;
    width: 300px;
    height: 200px;
  }
  .black img {
    position: absolute;
    top: -200px;
    width: 800px;
    height: 500px;
  }
  #rental {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
  }
  #b2 {
    position: absolute;
    left: 600px;
  }
  .cars {
    position: absolute;
    left: 600px;
  }
  .desktop {
    display: flex;
    flex-direction: row;
  }
  .how {
    margin: 100px;
  }
  .iconimages {
    display: flex;
    flex-direction: row;
  }
  #carimages {
    width: 100%;
  }
  .footer {
    background-color: #4db6f4;
    display: flex;
    flex-direction: row-reverse;
  }
  #prices {
    position: relative;
    left: -750px;
    top: 500px;
  }
  #rentnow {
    color: blue;
    font-size: x-large;
  }
  .navbar {
    gap: 30px;
    position: absolute;
    top: 10px;
    left: 650px;
  }
  .navitems {
    position: absolute;
    top: 10px;
    left: 1260px;
  }
  #t2 {
    position: relative;
    left: 530px;
    font-size: large;
  }
  #t1 {
    position: relative;
    left: 600px;
    opacity: 50%;
    font-size: large;
  }
  #choose {
    background-color: whitesmoke;
  }
  #offer {
    background-color: whitesmoke;
  }
  #caricons {
    background-color: whitesmoke;
    position: absolute;
    left: 900px;
  }
  #popular {
    font-size: large;
    opacity: 50%;
    padding-left: 500px;
    padding-top: 100px;
  }
  #most {
    font-size: x-large;
    padding-left: 450px;
  }
}
/*Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
  #logonav {
    display: none;
  }
  .bigcar {
    display: none;
  }
  .testimoniale {
    display: none;
  }
  #popular {
    font-size: large;
    opacity: 50%;
    padding-left: 130px;
    padding-top: 100px;
  }
  #most {
    font-size: x-large;
    padding-left: 80px;
  }
}
