body {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  background-color: white;
  color: black;
  margin: 0;
}

nav a {
  color: black;
  display: inline;
  margin-left: 70px;
}
nav select {
  margin-left: 200px;
  display: inline;
  background-color: rgb(135, 237, 237);
  border-radius: 5px;
}
#links_nav {
  background-color: white;
  padding: 15px;
}
div [class="social_media"] {
  display: inline;
  margin-left: 70px;
}

header h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 20px;
}

p {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  display: block;
  font-size: 16px;
  color: black;
  margin: 20px;
}

main {
  position: relative;
  display: block;
  margin: 20px;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background-color: #8ce7ca;
  padding: 20px;
  height: 457px;
  border-radius: 10px;
}

aside ul li {
  padding-left: 8px;
}
article {
  position: relative;
  margin-left: 320px;
  background: #fff;
  width: 55%;
  border-radius: 10px;
}

figure {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  height: 30%;
}

figure img {
  width: 100%;
  border-radius: 10px;
}

figcaption {
  font-style: italic;
  margin-top: 6px;
  color: #555;
  font-size: 14px;
}

section {
  display: block;
}

section h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  font-size: 22px;
  text-underline-offset: inherit;
}

section ol li {
  margin-bottom: 10px;
  padding-left: 8px;
}
footer {
  background-color: #927557;
  color: #000000;
  text-align: center;
  padding: 20px;
  display: block;
  margin-top: 40px;
  font-size: 10px;
}
footer p {
  color: #000000;
}
input {
  background-color: #cbbebe;
  color: #000000;
  padding: 5px 40px;
  font-size: 10px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #1e713d;
  color: #ffffff;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  margin-left: 255px;
}

form {
  background-color: rgb(84, 220, 220);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}
