* {
  margin: 0;
  padding: 0;
}
body {
  height: 4912px;
}
header {
  height: 700px;
  background-color: #f7f7fb;
  overflow: hidden;
}

.uls {
  display: flex;

  justify-content: center;
  list-style: none;
  align-items: center;
  padding-top: 20px;
}

#name {
  font-size: 20px;
  margin-right: 180px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  height: 100%;
  padding: 0 40px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  align-items: center;
}
.text-car {
  display: flex;
  margin-top: 100px;
}
#about-1 {
  font-size: 47px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 100px;
}
#about-p {
  font-size: 31px;
  margin-top: 20px;
}
.car {
  display: block;
  max-width: 100%;
  height: auto;
  transform: scaleX(-1);
  transform-origin: center;
  margin-right: -180px;
}
.download-app {
  display: flex;
  gap: 20px;
  margin-left: 100px;
  margin-top: 20px;
}
.app img {
  border-radius: 10px;
}
.location {
  display: flex;
  align-items: center;
  margin-top: -6px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 3px #00000014;
  margin-left: 100px;
  border-radius: 10px;
  margin-right: 200px;
}
.loc {
  display: flex;
  list-style: none;
  font-size: 20px;
}
.loc li {
  padding: 0 100px;
  border-right: 2px solid #4a4a4a4d;
}
.p-location {
  color: #4a4a4a9c;
  padding-top: 5px;
  font-size: 15px;
}
.btn-1 {
  color: #ffffff;
  background-color: #3083ff;
  border-radius: 40px;
  border: none;
  padding: 15px 40px 15px 40px;
  margin-left: 70px;
}
.logo-car {
  display: flex;
  justify-content: center;
}
.logo-car img {
  padding: 0 30px;
  margin-top: 95px;
}
.im-1 {
  margin-top: -15px;
}
.im-2 {
  margin-top: -25px;
}
.how {
  color: #4a4a4a9c;

  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.rent {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
.booking {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.booking-items {
  padding: 0 50px;
  text-align: center;
  margin-top: 20px;
}
.booking img {
  box-shadow: 0px 1px 2px 3px #00000014;
  padding: 10px;
  border-radius: 20px;
  height: 131px;
  width: 131px;
}
.b-1 {
  margin-top: 15px;
  color: #000000;
}
.b-2 {
  margin-top: 15px;
  color: #4a4a4a9c;
}
.grid-article {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 450px;
  grid-template-areas: "map aside";
  margin-top: 20px;
}
.grid-item-1 {
  grid-area: map;
  background-image: url(../images/Oslo-Bus-Station-Norway-Google-Maps.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-item-2 {
  grid-area: aside;
  background-color: #f7f7fb;
  padding-top: 20px;
}
.cars-aside {
  display: flex;
}
.car-icon-aside {
  padding-top: 20px;
}
.car-icon-aside img {
  box-shadow: 0px 1px 2px 3px #00000014;
  border-radius: 5px;
}
.car-icon-aside p {
  font-size: 13px;
}
.aside p {
  font-size: 13px;
}
.car-1 {
  position: absolute;
  margin-left: 210px;
  margin-top: 250px;
}
.car-2 {
  position: absolute;
  margin-left: 200px;
  margin-top: 40px;
}
.car-3 {
  position: absolute;
  margin-left: 330px;
}
.car-4 {
  position: absolute;
  margin-left: 550px;
  margin-top: 60px;
}
aside {
  padding-left: 30px;
}
.car-details {
  display: flex;
  justify-content: center;
}
.car-details img {
  padding: 0 30px;
  box-shadow: 0px 1px 2px 3px #00000014;
}
.car-details img {
  align-items: center;
}
