@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster-Regular.ttf");
}
body {
  font-family: "Lobster-Regular.ttf", sans-serif;
}
h1,
h3 {
  font-family: "Lobster-Regular.ttf", sans-serif;
}
#menu-contain {
  display: grid;
  grid-template-rows: 20% 40%;
  grid-template-areas: "footer figure";
}
aside {
  background-color: bisque;
  width: 200px;
  height: 350px;
  font-size: 20px;
}
#how-contain {
  font-size: 15px;
}

#peter {
  display: grid;
  grid-template-rows: "1fr 1fr";
  grid-template-areas: "h4 contact";
}

nav {
  display: flex;
  background-color: skyblue;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
}

#social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
footer {
  background-color: skyblue;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form {
  display: flex;
  flex-direction: row;
}
#submit {
  background-color: blue;
}
form button {
  background-color: #004aad;
}
.habimana {
  display: grid;
  grid-template-areas:
    "aside figure"
    "h4 section";
  grid-template-columns: 20% 60%;
  grid-template-rows: 20% 40%;
}
