body {
  font-family: "Times New Roman", Times, sans-serif !important;
  display: grid;
  grid-template-columns: repeat(14 100px);
  grid-template-rows: repeat(14 100px);
  gap: 10px;
  margin: 0;
  padding: 10px;
  width: fit-content;
  height: 1000px;
  flex-wrap: wrap;
}
header {
  background-color: aqua;
  grid-row: 1/2;
  grid-column: 1/13;
  width: 1400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.seco {
  background-color: blueviolet;
  grid-row: 2/2;
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 1400px;
}
.mainhead {
  background-color: chartreuse;
  grid-row: 3/4;
  grid-column: 5/13;
  width: 960px;
}
#aside {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-row: 3/13;
  grid-column: 1/5;
  justify-content: stretch;
  align-items: center;
  width: 428px;
}
.maintext {
  background-color: cornflowerblue;
  grid-row: 4/13;
  grid-column: 5/13;
  width: 960px;
  font-family: "Times New Roman", Times, serif;
}
footer {
  background-color: darkolivegreen;
  display: grid;
  grid-row: 13/14;
  grid-column: 1/13;
  flex-direction: column;
  width: 1400px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50px;
}
pre {
  font-family: "Times New Roman", Times, serif;
}
