* {
  margin: opx;
  padding: opx;
}
body {
  font-family: "Times New Roman", Times, sans-serif !important;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr auto 1fr;
  grid-template-areas:
    "header header"
    "info info"
    "aside mainhead"
    "aside maintext"
    "footer footer";
  gap: 10px;
  margin: 5px;
  height: 1000px;
}
header {
  background-color: aqua;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  grid-area: info;
}

.mainhead {
  background-color: chartreuse;
  grid-area: mainhead;
}
#aside {
  background-color: chocolate;
  display: flex;
  flex-direction: column;

  justify-content: stretch;
  align-items: center;

  grid-area: aside;
}
.maintext {
  background-color: cornflowerblue;

  font-family: "Times New Roman", Times, serif;
  grid-area: maintext;
  pre {
    font-family: "Times New Roman", Times, serif;
  }
}
footer {
  background-color: darkolivegreen;
  display: grid;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  grid-area: footer;
}
