@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster-Regular.ttf");
}
body {
  font-family: "Lobster-Regular.ttf", sans-serif;
}
h1,
h3 {
  font-family: "Lobster-Regular.ttf", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}
figure {
  flex-direction: row;
  padding: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: skyblue;
  height: 50px;
  margin: 5px;
  padding: 5px;
  border: 3px solid skyblue;
}
nav a {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  background-color: #aaa;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
}
aside {
  border: 1px RED SOLID;
  border-radius: 30px;
  background-color: bisque;
  width: 20%;
  height: 100%;
  font-size: 20px;
  padding-left: 10px;
}
aside p {
  content: ">";
  padding-left: 5px;
  margin-left: 10px;
  border-left: 5px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: skyblue;
  font-size: 18px;
}
#section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
h1 {
  padding-left: 10px;
}
#second {
  padding-right: 100px;
}
p {
  padding-right: 100px;
}
#hp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
article {
  padding-left: 200px;
  padding-bottom: 10px;
}
.peter :first-child {
  color: blue;
}
.peter :last-child {
  color: blue;
}
body {
  background-color: #aaa;
}
img {
  border: 2px SOLID white;
  border-radius: 50px;
}
article {
  padding-right: 50px;
  padding-top: 20px;
  width: 800px;
  height: 300px;
  margin-left: 335px;
}
.btn {
  position: absolute;
  left: 100px;
  width: 150px;
  height: 45px;
  border: 2px SOLID blue;
  border-radius: 10px;
  background-color: skyblue;
  font-size: 16px;

  /*transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;*/
  transition: all 0.3s;
}
.btn:hover {
  background-color: red;
  transform: translateY(-10px);
  color: white;
}
main {
  position: absolute;
  color: blue;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}
.heading1 {
  /*animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: reverse;*/
}
