
.vip{
position: absolute;
    right: 450px;
    height: 10px;
    
}
#menu-contain{
    position: absolute;
    left:20px;
    background-color: lab(69.61% 0 -0.01 / 0.233);
    width: 160px;

}
.id2{
position: absolute;
bottom: -00;
text-align: center;

#how-contain{
    background-color: a;
    display:block ;

}
#vivo-tip{
    background-color: yelw;
    font-size: 10px;
}

}
#how-contain{
    padding: 12px;
    background-color: rgb(249, 249, 249);
    word-spacing:40px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10px;
    border: 3px solid #f1f2f3;

}

.jado{
    position: absolute;
    left: 190px;
    bottom: 10px;
    width: 700px;
   height: 0;
   text-align: center;
  
    
}
