


body{
    background-color: black;
}
nav a {
    padding: 5px;
    display: flex;
    background-color: violet;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    




   
 
   

  

}
header{
   
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: brown;
    padding:5px;
    

    


}
#main_nav{
    background-color:blanchedalmond;
   display: flex ;
   padding: 5px;
   align-items: flex-end;
   justify-content: flex-end;
 

 }
 #logotext{
    display: flex;

    align-items: center;
    padding: 3px;


}
#textlogo {
   display: flex;
   justify-content: flex-start;
    align-items: center;
    padding: 30px;
}
main{
    background-color:pink;
}
{
    background-color: red;
}
.socialmedia {
    display: flex;
    position: relative;
    background-color:red;
    align-items: center;
    padding: 0px;

}
#followus{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
h1{
     
    background-color: greenyellow;
}
#Susan {
    text-decoration: underline;
}
aside{
  background-color:green;
    position: relative;
    display: block;
   margin-top: 50px;
 margin-inline-start: 25px;
}
.maincontainer{
    display: flex;
}
     
p{
    font-family: 'Merriweather' , sans-serif;
    margin-right: 400px;
    margin-top: 0px;
    margin-left: 300px;
    background-color: aqua;
}
figure{
    background-color:blue;
    margin-left: 300px;
    margin-right: 400px;
    margin-top: -205px;
    
}
footer{
    background-color: yellow;
    align-items:first baseline;
}
     