body {  
    background-color: #9d8181;
    height:800px;
    
}


header, footer { 
    background: linear-gradient( #411111, rgb(170, 86, 86)); 
    color: #fff;
    padding: 5px; 
    text-align: center;
    position:relative; 
}

header :hover{
    background: linear-gradient(green, yellow)
}

main { 
    display: flex;
    flex-direction: column;
    margin: 0;
    border:#000;
    border-radius: 3px;
    height: fit-content;
     
}

#sidings {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: blue; 
    margin: 10px; 
    text-decoration: none; 
}


section { 
        margin: 20px; 
}

article { 
     
    padding: 10px; 
    border-radius: 5px; 
}

h1 {
    color: red;
}



#About {
    position: relative;
    height: 310px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}


footer { 
    background: linear-gradient(rgb(170, 86, 86), #411111);
    color: #fff;
    text-align: center;
    padding: 10px;

    
    
    
}


#word {
    
    position: absolute;
    right: 30px;
    width: 35%;
}
    

#Myth {
    padding: 10px;
    position: relative;
    height: fit-content;
    padding-bottom: 10px;
    margin: 10px 0 0 0 ;
}
#icon {
    position: absolute;
    right: 0;
    top: 130px;
}

aside {
   
    background-color: rgb(170, 86, 86);
    width: 30%;
    margin: 0;    
    border-left: blue 5px solid;
    border-radius: 10px;
      
}

.content {
    margin-right: 240px;
    border: #411111;
    border-radius: 8px;
    border-style: solid;
    margin-top: 0;
}
#social{
    display: flex;
    justify-content: space-between;
}

#contact {
    margin-top: 10px;
    border: 3px solid #411111;
    border-radius: 10px;
}