body {
  height: 100vh;
}

.nav {
  font-family: Verdana, Tahoma, sans-serif;
  font-style: oblique;
  color: rgb(216, 25, 25);
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 10%;
  padding: 20px;
  height: 10px;
  position: relative;
  gap: 180px;
  bottom: 10px;
  left: 50px;
  width: 600px;
}

.conteiner {
  display: grid;
  height: 100vh;

  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.2fr;
  grid-template-areas:
    "header header header"
    "h1 h1 h1"
    "sidebar content1 content2 "
    "sidebar main main "
    "sidebar main main "
    "footer footer footer";
  grid-gap: 0.2rem;
}

.header {
  background-color: rgb(132, 133, 134);
  grid-area: header;
  text-align: center;
}

h1 {
  background-color: green;
  grid-area: h1;
  border-radius: 10px;
  text-align: center;
}
main {
  background-color: blue;
  grid-area: main;
}
#sidebar {
  background-color: rgb(0, 0, 0);
  grid-area: sidebar;
  border-radius: 5px;
}
#content1 {
  background-color: rgb(0, 34, 224);
  grid-area: content1;
}
#content2 {
  background-color: rgb(0, 34, 224);
  grid-area: content2;
}

footer {
  background-color: rgb(240, 15, 15);
  grid-area: footer;
  height: 50px;
}

address {
  text-align: center;
}
