body {
    margin:0;
}


                  /** section: 1**/

#car_1 {
    transform: scaleX(-1);
   /* border: 2px solid red;*/
    margin: 0; 
    width: 100%;
    display: block;
    height: auto;
}


#ios {
    width: 148px;
    height:54px;
}

#android {
    width: 148px;
    height:54px;
}



nav {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.head {
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: 330px auto;
    width: 100%;
}


#login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

#part_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr) /*1fr 68%*/;
    margin: 0 40px 0 40px;
    /*background-color: blue;*/
    height:430px;
}

#text_1 {
    /*border: 2px solid green;*/
    margin: 20px 0 20px 0;
    width: 100%;
    height:auto;
    display: block;
}
#find {
    font-size: 45px;
}

/**SECTION 2: LOCATIONS**/

#location_1 {
    /*border: 2px solid red;*/
    margin: 0 60px 0 60px;
    display: grid;
    grid-template-columns: repeat(1, 3fr 1fr);
    gap: 30px;
    /*justify-content: space-between;
    align-items: center;*/
    border-radius: 40px;
    background-color: rgb(250, 247, 247);
}

#zone_location{
    display: flex;
    /*grid-template-columns: repeat(1, 1fr 1fr 1fr);*/
    justify-content: space-around;
}

#search {
    width: 150px;
    height: 54px;
    background-color: #444548;
    border-radius: 40px;
    text-align: center;
    margin-top: 30px;
}

.loc {
    border-right: 2px solid black;
    padding-right: 50px;
}
.opa {
    opacity: 40%;
    font-size: 14px;
}


/* SECTION 3: CAR LOGOS*/

#car_logos {
    /*border: 2px solid red;*/
    margin: 30px 60px 30px 60px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
}

#how-works {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#rent_steps{
    display: flex;
    justify-content: center;
}

/*  SECTION 4: MIDDLE TEXT AND ICONS*/

#icons {
    margin: 30px 60px 30px 60px;
    display: flex;
    /*grid-template-columns: repeat(1, 1fr 1fr 1fr);*/ 
    justify-content: space-between; 
}

#nav_icon {
    width: 200px;
    text-align: center;
}
#calendar_icon {
    width: 200px;
    text-align: center;
}
#car_icon {
    width: 200px;
    text-align: center;
}

/*  SECTION 5: MAP AND IMAGES */

#map {
    background-color: #f0f0f4;
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    gap: 5px;
    margin-bottom: 10px;
}
#black_car {
    /*border: 2px solid red;*/
    
}
#black_ca {margin: 10px;
   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../smart250-homework-car/Oslo-Bus-Station-Norway-Google-Maps.webp);
}
#map_text {
    /*border: 2px solid rgb(44, 14, 215);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#small_car_red {
    position:absolute;
    margin-left: 120px;
    margin-top: 380px;
}

#small_car_white {
    position: absolute;
    margin-left: 560px;
    margin-top: 120px;
}

#small_car_blue {
    position: absolute;
    margin-left: 300px;
    margin-top: 25px;
}
.text_2{
    position:relative;
    margin-left: 0;
}
.text_2 ::before{
    content:"";
    position: absolute;
    inset: 0;
    background-image: url(../smart250-homework-car/car_icon.png);
    background-size: cover; 
    background-position: left;
    width: 20px;
    height: 20px;
}

#popular_rental {
    display: flex;
    justify-content: center;
}
#most_popular {
    display: flex;
    justify-content: center;
}

/* SECTION 6: CARDS */

#cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr);
    margin: 40px;
}

#white_card {
    /*border: 2px solid red;*/
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f4;
    border-radius: 10px;
}

#black_card {
    /*border: 2px solid red;*/
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f4;
    border-radius: 10px;
}

#blue_card {
    /*border: 2px solid red;*/
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f4;
    border-radius: 10px;
}

#red_card {
    /*border: 2px solid red;*/
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f4;
    border-radius: 10px;
}

.card_caption {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    gap: 20px;
    background-color: rgb(247, 249, 250);
    border-radius: 10px;
    opacity: 70%;
}
.card_price {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0;
}
.text_blue {
    color:blue;
}

/*SECTION 7:*/

#show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
#show_1 {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#alex {
    clip-path: circle(50% at center);
}

#leon{
    clip-path: circle(50% at center);
}
#left_arrow{
    transform: scaleX(-1);
}

.button_1 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

#testim {
    background-color: aliceblue;
    padding-top: 20px;
    margin-bottom: 20px;
}
#testimonials_h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    opacity: 40%;
}

#testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    gap: 10px;

}

#alex_card {
    width: 300px;
    background-color: rgb(224, 227, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    padding-top: 10px;
}
#leon_card {
    width: 300px;
    background-color: rgb(224, 227, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    padding-top: 10px;
}

.quotation {
    color: blue;
    font-size: 36px;
}
/**page responsiveness on devices part 1**/

/* Desktop*/  
@media (min-width: 1201px) {
}

/* Laptop*/
@media (min-width: 769px) and (max-width: 1200px) {
    .head {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    width: 100%;
    }
    #carentall {
    border: 2px solid red;
    }

    nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: xx-small;
    }
    #login {
        font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    }
    #car_1 {
         display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    transform: scaleX(-1);
    border: 2px solid red;
    margin: 0; 
    width: 100%;
    height: auto;
    display: block;
    }
    #text_1 {
         display: grid;
    grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
    border: 2px solid green;
    margin: 20px 0 20px 0;
    width: 100%;
    height: auto;
    }
    #part_1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin: 0;
    background-color: rgb(137, 156, 29);
    gap:10px;
    }

}

/* Tablet*/
@media (min-width: 481px) and (max-width: 768px) {
    .head {
    border: 2px solid red;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr auto;
    width: 100%;
    }
    #carentall {
    border: 2px solid red;
    width: 100px;
    height: 52px;
    }

    nav {
        font-size: xx-small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    #login {
        font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    }
    #car_1 {
         display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    transform: scaleX(-1);
    border: 2px solid red;
    margin: 0; 
    width: 100%;
    min-width: 300px;
    /*height: auto;*/
    display: block;
    }
    #text_1 {
    border: 2px solid green;
    margin: 20px 0 20px 0;
    width: 100%;
    }
     #part_1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
    background-color: rgb(31, 139, 54);
    } 


} 
/** Mobile**/
@media (max-width: 480px) and (min-width: 320px) {
    #part_1 {
    grid-template-columns: repeat(1fr, minmax(1fr, auto));
    background-color: rgb(223, 23, 146);
    margin: 0;
    padding: 5px;
    }

    nav {
        visibility: hidden;
    }
    #car_1 {
        visibility: hidden;
    }
    .head {
    grid-template-columns: repeat(1, 1fr 50px);
    width: 100%;
    }

}


