
body{
    display:flex;
    flex-direction: column;
    background-color: #575701;
    justify-content: space-around;
    font-family: Lobster, sans-serif;
  
   
    
}
header{
    background-color: white;
    grid-area: header;
    border: solid black;
    margin: 5px;
   text-align: center;
  
}
main{
    
    display: grid;
    grid-template-rows:15% 30%  35%  15% ;
    grid-template-columns: 50% 50%;
    grid-template-areas: "h2 h2"
                         "p p"
                         "p2 aside"
                         "footer footer";

    background-color: rgb(51, 95, 66);
    border: solid rgb(14, 13, 13);
    height: 550px;
    padding: 7px;
    gap: 5px;
    padding-right: 10px;
    padding-top: 10px;
  
}
h2{
    grid-area: h2;
    background-color: white;
    border: solid rgb(14, 13, 13);
     text-align: center;
  
}
section{
    grid-area: p;
    background-color: rgb(237, 240, 67);
    border: solid rgb(14, 13, 13);
     text-align: center;
}
article{
    grid-area: p2;
    background-color: rgb(68, 94, 8);
    border: solid rgb(13, 14, 13);
     text-align: center;
}
aside{
    grid-area: aside;
    background-color: #b3b332;
    border: solid rgb(14, 13, 13);
     text-align: center;
}
footer{
    grid-area: footer;
    background-color: yellow;
    border: solid rgb(14, 13, 13);
     text-align: center;
    
}

nav a{
    color:black;
    text-decoration:none;
    text-align: center;
    margin: 10px;
}
